.menu-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 6px;
  right: 4px;
  width: auto;
  height: auto;
  font-size: 26px;
  border: none;
  cursor: pointer;
  z-index: 1001;
  background-color: transparent;
  padding: 0px;
}

.button {
  width: 25px;
  height: 2px;
  background-color: black !important;
  margin: 3px;
  transition: all 0.3s ease;
  z-index: 1002;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* מוסתר בהתחלה */
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1000;
  direction: rtl;
}

.sidebar.open {
  right: 0;
}

.sidebar .close-button {
  background: none;
  border: none;
  font-size: 24px;
  float: left;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}