.menu-button {
  position: absolute;
  top: 7px;
  left: 252px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  font-size: 26px;
  border: none;
  cursor: pointer;
  background-color: transparent !important;
  padding: 0px;
}

.button {
  width: 25px;
  height: 2px;
  background-color: #007bff !important;
  margin: 3px;
  transition: all 0.3s ease;
  z-index: 1002;
  
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* מוסתר בהתחלה */
  width: 250px;
  height: 100%;
  background-color: #1e1d1d;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  direction: ltr;
}

.sidebar.open {
  left: 0;
}

.sidebar .close-button {
  background: none;
  border: none;
  font-size: 24px;
  float: left;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.recent-places-section {
  color: #007bff;
  font-weight: bold;
  margin: 0;
}

.places-select {
  display: flex;
  margin-top: -15px;
}

.line {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: inline;
}

.top-links {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 13px;
  margin-top: -5px;
  margin-left: -6.5px;
}

.top-links a {
  font-size: 14px;
  margin: 0 4px;
}

.main-links {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

.welcome-message {
  color: #007bff;
  font-weight: bold;
}
